In [220]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns

## Extracción

In [209]:
# Define la ruta del archivo Excel
filepath = "../Dataset/mapa_conectividad.xlsx"

# Cargar el archivo Excel
xl = pd.ExcelFile(filepath)
#print(xl.sheet_names)

# Lista de nombres de hojas que deseas cargar
hojas = ['Hoja3']  

# Diccionario para almacenar los DataFrames
dataframes = {}

# Leer cada hoja y cargarla en un DataFrame
for hoja in hojas:
    dataframes[hoja] = xl.parse(hoja)

# Ahora puedes acceder a los DataFrames por nombre de hoja
df_mapa_conectividad = dataframes['Hoja3']

In [435]:
# Define la ruta del archivo Excel
filepath = "../Dataset/Internet.xlsx"

# Cargar el archivo Excel
xl = pd.ExcelFile(filepath)
#print(xl.sheet_names)

# Lista de nombres de hojas que deseas cargar
hojas = ['Accesos Por Tecnología', 'Penetración-poblacion', 'Penetracion-hogares']  # Nombres de tus hojas

# Diccionario para almacenar los DataFrames
dataframes = {}

# Leer cada hoja y cargarla en un DataFrame
for hoja in hojas:
    dataframes[hoja] = xl.parse(hoja)

# Ahora puedes acceder a los DataFrames por nombre de hoja
df_accesoTecnologiaProvincia = dataframes['Accesos Por Tecnología']
df_accesoPoblacionProvincia = dataframes['Penetración-poblacion']
df_accesoHogaresProvincia = dataframes['Penetracion-hogares']

In [415]:
# Define la ruta del archivo Excel
filepath = "../Dataset/Television.xlsx"

# Cargar el archivo Excel
xl = pd.ExcelFile(filepath)
#print(xl.sheet_names)

# Lista de nombres de hojas que deseas cargar
hojas = ['Penetracion_prov_TV']  

# Diccionario para almacenar los DataFrames
dataframes = {}

# Leer cada hoja y cargarla en un DataFrame
for hoja in hojas:
    dataframes[hoja] = xl.parse(hoja)

# Ahora puedes acceder a los DataFrames por nombre de hoja
df_accesoTVsuscripcionProvincia_habitantes_hogares = dataframes['Penetracion_prov_TV']

# Transformaciones DataFrame "mapa_conectividad"

In [214]:
# Verificar la estructura del DataFrame y los tipos de datos
df_mapa_conectividad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4305 entries, 0 to 4304
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4305 non-null   object
 1   Partido         4305 non-null   object
 2   Localidad       4305 non-null   object
 3   Población       4305 non-null   int64
 4   ADSL            4305 non-null   object
 5   Cablemódem      4305 non-null   object
 6   Dial Up         4305 non-null   object
 7   Fibra óptica    4305 non-null   object
 8   Satelital       4305 non-null   object
 9   Wireless        4305 non-null   object
 10  Telefonía Fija  4305 non-null   object
 11  3G              4305 non-null   object
 12  4G              4305 non-null   object
 13  Link            4293 non-null   float64
 14  Latitud         4305 non-null   float64
 15  Longitud        4305 non-null   float64
dtypes: float64(3), int64(1), object(12)
memory usage: 538.3+ KB

In [213]:
print(df_mapa_conectividad.head())

      Provincia     Partido          Localidad  Población ADSL Cablemódem  \
0  BUENOS AIRES  25 de Mayo         25 de Mayo      23408   SI         SI
1  BUENOS AIRES  25 de Mayo    Agustín Mosconi        280   --         --
2  BUENOS AIRES  25 de Mayo          Del Valle        899   SI         --
3  BUENOS AIRES  25 de Mayo          Ernestina        145   SI         --
4  BUENOS AIRES  25 de Mayo  Gobernador Ugarte        547   --         --

  Dial Up Fibra óptica Satelital Wireless Telefonía Fija  3G  4G       Link  \
0      --           --        SI       SI             SI  SI  SI  6854100.0
1      --           --        --       --             SI  --  --  6854010.0
2      --           --        SI       --             --  SI  --  6854020.0
3      --           --        --       --             SI  --  --  6854030.0
4      --           --        --       SI             --  --  --  6854040.0

     Latitud   Longitud
0 -35.433939 -60.173121
1 -35.739217 -60.559063
2 -35.897345 -60.731609
3 -35.270234 -59.557503
4 -35.164397 -60.081358

In [217]:
# Agrupar la población por 'Provincia', ordenando de mayor a menor
df_agrupado = df_mapa_conectividad.groupby('Provincia', as_index=False)['Población'].sum().sort_values(by='Población', ascending=False)

# Seleccionar solo el top 5 de provincias
df_top5 = df_agrupado.head(5)

# Verificar el DataFrame
print(df_top5.head())

       Provincia  Población
0   BUENOS AIRES   14911542
5        CORDOBA    3139606
20      SANTA FE    3055611
1           CABA    2890151
12       MENDOZA    1654993

In [239]:
# Renombrar columnas a minúsculas y sin tildes
df_top5.rename(columns={
    'Provincia': 'provincia',  
    'Población': 'poblacion',
    'Porcentaje':'porcentaje'
}, inplace=True)

# Verificar el cambio de nombres de columnas
df_top5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 12
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   provincia   5 non-null      object
 1   poblacion   5 non-null      int64
 2   porcentaje  5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 160.0+ bytes

# Transformaciones DataFrame "Accesos por Tecnología"

In [141]:
print(df_accesoTecnologiaProvincia.head())
#print(df_accesoPoblacionProvincia.head())

    Año Trimestre        Provincia      ADSL  Cablemodem  Fibra óptica  \
0  2024         1     Buenos Aires  203297.0   2790663.0     1799013.0
1  2024         1  Capital Federal   70108.0   1177475.0      203756.0
2  2024         1        Catamarca    5901.0     11025.0       56542.0
3  2024         1            Chaco   11343.0     58929.0       64463.0
4  2024         1           Chubut   26306.0     77217.0       26356.0

   Wireless     Otros      Total
0  150290.0  101294.0  5044557.0
1    4493.0   48879.0  1504711.0
2    1384.0      81.0    74933.0
3    8404.0   12404.0   155543.0
4   30867.0    9930.0   170676.0

In [142]:
df_accesoTecnologiaProvincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           985 non-null    object
 1   Trimestre     985 non-null    object
 2   Provincia     984 non-null    object
 3   ADSL          984 non-null    float64
 4   Cablemodem    984 non-null    float64
 5   Fibra óptica  984 non-null    float64
 6   Wireless      984 non-null    float64
 7   Otros         984 non-null    float64
 8   Total         984 non-null    float64
dtypes: float64(6), object(3)
memory usage: 69.5+ KB

In [242]:
# Filtrar las filas donde la provincia sea "Caba" o "Capital Federal"
df_caba_capital_federal = df_accesoTecnologiaProvincia[df_accesoTecnologiaProvincia['Provincia'].isin(['Caba', 'Capital Federal'])]

# Contar cuántos registros hay por cada valor
conteo_provincias = df_caba_capital_federal['Provincia'].value_counts()

# Mostrar el resultado
print(conteo_provincias)

Provincia
Capital Federal    40
Name: count, dtype: int64

In [241]:
# Lista de provincias a filtrar
provincias_filtrar = ['Buenos Aires', 'Córdoba', 'Santa Fe', 'Capital Federal', 'Mendoza']

# Filtrar el DataFrame por las provincias seleccionadas
df_filtrado_provincias = df_accesoTecnologiaProvincia[df_accesoTecnologiaProvincia['Provincia'].isin(provincias_filtrar)]

# Verificar el resultado
df_filtrado_provincias.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 24 to 980
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           200 non-null    object
 1   Trimestre     200 non-null    object
 2   Provincia     200 non-null    object
 3   ADSL          200 non-null    float64
 4   Cablemodem    200 non-null    float64
 5   Fibra óptica  200 non-null    float64
 6   Wireless      200 non-null    float64
 7   Otros         200 non-null    float64
 8   Total         200 non-null    float64
dtypes: float64(6), object(3)
memory usage: 15.6+ KB

In [243]:
# Eliminar las columnas 'Otros', y 'Total'
df_accesoTecnologiaProvincia = df_filtrado_provincias[df_filtrado_provincias['Año'] != 2024]
df_accesoTecnologiaProvincia_cleaned = df_accesoTecnologiaProvincia.drop(columns=['Otros', 'Total'], errors='ignore')

# Unificar las columnas 'ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless' en una sola columna
df_accesoTecnologiaProvincia_unpivoted = df_accesoTecnologiaProvincia_cleaned.melt(
    id_vars=[col for col in df_accesoTecnologiaProvincia_cleaned.columns if col not in ['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless']],
    value_vars=['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless'],
    var_name='Tecnología', 
    value_name='Accesos'
)

In [244]:
# Verificar los valores únicos de la columna 'Año'
print(df_accesoTecnologiaProvincia_unpivoted['Año'].unique())

[2023 2022 2021 2020 2019 '2019 *' 2018 2017 2016 2015 2014]

In [245]:
#Código para limpiar la columna Año:

# Asegurarse de que todos los valores de la columna 'Año' sean cadenas de texto
df_accesoTecnologiaProvincia_unpivoted['Año'] = df_accesoTecnologiaProvincia_unpivoted['Año'].astype(str)

# Limpiar la columna 'Año' eliminando caracteres no numéricos (como '*' o espacios)
df_accesoTecnologiaProvincia_unpivoted['Año'] = df_accesoTecnologiaProvincia_unpivoted['Año'].str.extract(r'(\d{4})')

# Convertir la columna 'Año' a tipo numérico (entero)
#df_accesoTecnologiaProvincia_unpivoted['Año'] = pd.to_datetime(df_accesoTecnologiaProvincia_unpivoted['Año'], format='%Y', errors='coerce')

# Eliminar las filas con valores nulos en 'Año'
df_accesoTecnologiaProvincia_unpivoted = df_accesoTecnologiaProvincia_unpivoted.dropna(subset=['Año'])

# Verificar si hay valores nulos o errores después de la conversión
print(df_accesoTecnologiaProvincia_unpivoted['Año'].isnull().sum())

0

In [246]:
# Verificar los valores únicos de la columna 'Año'
print(df_accesoTecnologiaProvincia_unpivoted['Año'].unique())

['2023' '2022' '2021' '2020' '2019' '2018' '2017' '2016' '2015' '2014']

In [247]:
#Código para limpiar la columna Trimestre:

# Asegurarse de que todos los valores de 'Trimestre' sean cadenas para poder limpiarlos
df_accesoTecnologiaProvincia_unpivoted['Trimestre'] = df_accesoTecnologiaProvincia_unpivoted['Trimestre'].astype(str)

# Limpiar la columna 'Trimestre' eliminando cualquier carácter no numérico
df_accesoTecnologiaProvincia_unpivoted['Trimestre'] = df_accesoTecnologiaProvincia_unpivoted['Trimestre'].str.extract(r'(\d+)')

# Convertir la columna 'Trimestre' a tipo numérico (entero)
df_accesoTecnologiaProvincia_unpivoted['Trimestre'] = pd.to_numeric(df_accesoTecnologiaProvincia_unpivoted['Trimestre'], errors='coerce')

# Verificar si hay valores nulos
print(df_accesoTecnologiaProvincia_unpivoted['Trimestre'].isnull().sum())

# Eliminar filas con valores nulos en 'Trimestre'
df_accesoTecnologiaProvincia_unpivoted = df_accesoTecnologiaProvincia_unpivoted.dropna(subset=['Trimestre'])

0

In [248]:
# Crear una función para asignar una fecha basada en el año y el trimestre
def generar_fecha(row):
    if row['Trimestre'] == 1:
        return f"{row['Año']}-01-01"
    elif row['Trimestre'] == 2:
        return f"{row['Año']}-04-01"
    elif row['Trimestre'] == 3:
        return f"{row['Año']}-07-01"
    elif row['Trimestre'] == 4:
        return f"{row['Año']}-10-01"

# Asegurarse de estar trabajando con una copia completa del DataFrame
df_accesoTecnologiaProvincia_unpivoted = df_accesoTecnologiaProvincia_unpivoted.copy()

# Aplicar la función para crear la nueva columna 'fecha'
df_accesoTecnologiaProvincia_unpivoted['fecha'] = df_accesoTecnologiaProvincia_unpivoted.apply(generar_fecha, axis=1)

# Convertir la columna 'fecha' a tipo datetime
df_accesoTecnologiaProvincia_unpivoted['fecha'] = pd.to_datetime(df_accesoTecnologiaProvincia_unpivoted['fecha'], format='%Y-%m-%d')

# Verificar el DataFrame con la nueva columna 'fecha'
print(df_accesoTecnologiaProvincia_unpivoted[['Año', 'Trimestre', 'fecha']].head())

    Año  Trimestre      fecha
0  2023          4 2023-10-01
1  2023          4 2023-10-01
2  2023          4 2023-10-01
3  2023          4 2023-10-01
4  2023          4 2023-10-01

In [249]:
# Eliminar las columnas 'Año' y 'Trimestre' ya que ahora tenemos la columna 'fecha'
df_accesoTecnologiaProvincia_unpivoted = df_accesoTecnologiaProvincia_unpivoted.drop(columns=['Año', 'Trimestre'])

# Reubicar la columna 'fecha' como la primera columna del DataFrame
cols = ['fecha'] + [col for col in df_accesoTecnologiaProvincia_unpivoted.columns if col != 'fecha']
df_accesoTecnologiaProvincia_unpivoted = df_accesoTecnologiaProvincia_unpivoted[cols]

In [250]:
# Ver las primeras filas del nuevo DataFrame
df_accesoTecnologiaProvincia_unpivoted.head()

       fecha        Provincia Tecnología   Accesos
0 2023-10-01     Buenos Aires       ADSL  223391.0
1 2023-10-01  Capital Federal       ADSL   58700.0
2 2023-10-01          Córdoba       ADSL  115662.0
3 2023-10-01          Mendoza       ADSL   17676.0
4 2023-10-01         Santa Fe       ADSL   97004.0

In [251]:
# Renombrar columnas a minúsculas y sin tildes
df_accesoTecnologiaProvincia_unpivoted.rename(columns={
    'Provincia': 'provincia',
    'Tecnología': 'tecnologia',
    'Accesos': 'accesos'
}, inplace=True)

In [252]:
df_accesoTecnologiaProvincia_unpivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fecha       800 non-null    datetime64[ns]
 1   provincia   800 non-null    object
 2   tecnologia  800 non-null    object
 3   accesos     800 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 25.1+ KB

# Transformaciones DataFrame "Penetracion_prov_TV"

In [368]:
print(df_accesoTVsuscripcionProvincia_habitantes_hogares.head())

    Año  Trimestre        Provincia  \
0  2024          2     Buenos Aires
1  2024          2  Capital Federal
2  2024          2        Catamarca
3  2024          2            Chaco
4  2024          2           Chubut

   Accesos TV por suscripción por cada 100 hab  \
0                                        15.80
1                                        22.48
2                                        12.79
3                                         9.23
4                                        11.92

   Accesos TV por suscripción por cada 100 hogares
0                                            45.98
1                                            55.15
2                                            50.29
3                                            34.52
4                                            38.88

In [193]:
df_accesoTVsuscripcionProvincia_habitantes_hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Año                                              1000 non-null   int64
 1   Trimestre                                        1000 non-null   int64
 2   Provincia                                        1000 non-null   object
 3   Accesos TV por suscripción por cada 100 hab      1000 non-null   float64
 4   Accesos TV por suscripción por cada 100 hogares  1000 non-null   float64
dtypes: float64(2), int64(2), object(1)
memory usage: 39.2+ KB

In [369]:
# Verificar los valores únicos de la columna 'Año'
print(df_accesoTVsuscripcionProvincia_habitantes_hogares['Año'].unique())

# Verificar si hay valores nulos o errores 
print(df_accesoTVsuscripcionProvincia_habitantes_hogares['Año'].isnull().sum())

[2024 2023 2022 2021 2020 2019 2018 2017 2016 2015 2014]
0

In [370]:
# Asegurarse de que todos los valores de la columna 'Año' sean cadenas de texto
df_accesoTVsuscripcionProvincia_habitantes_hogares['Año'] = df_accesoTVsuscripcionProvincia_habitantes_hogares['Año'].astype(str)

In [371]:
# Preprocesamiento columna 'Trimestre'
# Verificar si hay valores nulos
print(df_accesoTVsuscripcionProvincia_habitantes_hogares['Trimestre'].isnull().sum())

# Asegurarse de que todos los valores de 'Trimestre' sean cadenas para poder limpiarlos
df_accesoTVsuscripcionProvincia_habitantes_hogares['Trimestre'] = df_accesoTVsuscripcionProvincia_habitantes_hogares['Trimestre'].astype(str)

# Limpiar la columna 'Trimestre' eliminando cualquier carácter no numérico
df_accesoTVsuscripcionProvincia_habitantes_hogares['Trimestre'] = df_accesoTVsuscripcionProvincia_habitantes_hogares['Trimestre'].str.extract(r'(\d+)')

# Convertir la columna 'Trimestre' a tipo numérico (entero)
df_accesoTVsuscripcionProvincia_habitantes_hogares['Trimestre'] = pd.to_numeric(df_accesoTVsuscripcionProvincia_habitantes_hogares['Trimestre'], errors='coerce')

0

In [372]:
# Crear una función para asignar una fecha basada en el año y el trimestre
def generar_fecha(row):
    if row['Trimestre'] == 1:
        return f"{row['Año']}-01-01"
    elif row['Trimestre'] == 2:
        return f"{row['Año']}-04-01"
    elif row['Trimestre'] == 3:
        return f"{row['Año']}-07-01"
    elif row['Trimestre'] == 4:
        return f"{row['Año']}-10-01"

# Asegurarse de estar trabajando con una copia completa del DataFrame
df_accesoTVsuscripcionProvincia_habitantes_hogares = df_accesoTVsuscripcionProvincia_habitantes_hogares.copy()

# Aplicar la función para crear la nueva columna 'fecha'
df_accesoTVsuscripcionProvincia_habitantes_hogares['fecha'] = df_accesoTVsuscripcionProvincia_habitantes_hogares.apply(generar_fecha, axis=1)

# Convertir la columna 'fecha' a tipo datetime
df_accesoTVsuscripcionProvincia_habitantes_hogares['fecha'] = pd.to_datetime(df_accesoTVsuscripcionProvincia_habitantes_hogares['fecha'], format='%Y-%m-%d')

# Verificar el DataFrame con la nueva columna 'fecha'
print(df_accesoTVsuscripcionProvincia_habitantes_hogares[['Año', 'Trimestre', 'fecha']].head())

    Año  Trimestre      fecha
0  2024          2 2024-04-01
1  2024          2 2024-04-01
2  2024          2 2024-04-01
3  2024          2 2024-04-01
4  2024          2 2024-04-01

In [373]:
# Eliminar las columnas 'Año' y 'Trimestre' ya que ahora tenemos la columna 'fecha'
df_accesoTVsuscripcionProvincia_habitantes_hogares = df_accesoTVsuscripcionProvincia_habitantes_hogares.drop(columns=['Año', 'Trimestre'])

# Reubicar la columna 'fecha' como la primera columna del DataFrame
cols = ['fecha'] + [col for col in df_accesoTVsuscripcionProvincia_habitantes_hogares.columns if col != 'fecha']
df_accesoTVsuscripcionProvincia_habitantes_hogares = df_accesoTVsuscripcionProvincia_habitantes_hogares[cols]

In [374]:
# Ver las primeras filas del nuevo DataFrame
df_accesoTVsuscripcionProvincia_habitantes_hogares.head()

,fecha,Provincia,Accesos TV por suscripción por cada 100 hab,Accesos TV por suscripción por cada 100 hogares
0,2024-04-01,Buenos Aires,15.80,45.98
1,2024-04-01,Capital Federal,22.48,55.15
2,2024-04-01,Catamarca,12.79,50.29
3,2024-04-01,Chaco,9.23,34.52
4,2024-04-01,Chubut,11.92,38.88

In [375]:
# Ver los nombres de las columnas del DataFrame
df_accesoTVsuscripcionProvincia_habitantes_hogares.columns

Index(['fecha', 'Provincia', 'Accesos TV por suscripción por cada 100 hab',
       'Accesos TV por suscripción por cada 100 hogares'],
      dtype='object')

In [376]:
# Renombrar columnas a minúsculas y sin tildes
df_accesoTVsuscripcionProvincia_habitantes_hogares.rename(columns={
    'Provincia': 'provincia',
    'Accesos TV por suscripción por cada 100 hab': 'suscripcioncada100hab',
    'Accesos TV por suscripción por cada 100 hogares': 'suscripcioncada100hogares'    
}, inplace=True)

In [377]:
df_accesoTVsuscripcionProvincia_habitantes_hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   fecha                      1000 non-null   datetime64[ns]
 1   provincia                  1000 non-null   object
 2   suscripcioncada100hab      1000 non-null   float64
 3   suscripcioncada100hogares  1000 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 31.4+ KB

# Transformaciones DataFrame "Penetración Internet"

In [436]:
df_accesoHogaresProvincia.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2024          1     Buenos Aires                         81.10
1  2024          1  Capital Federal                        119.53
2  2024          1        Catamarca                         68.82
3  2024          1            Chaco                         46.70
4  2024          1           Chubut                         84.89

In [437]:
# Verificar la estructura del DataFrame y los tipos de datos
df_accesoHogaresProvincia.info()

# Verificar si hay valores faltantes
missing_values = df_accesoHogaresProvincia.isnull().sum()
print("Valores faltantes por columna:")
print(missing_values)

# Verificar si hay registros duplicados
duplicated_records = df_accesoHogaresProvincia.duplicated().sum()
print(f"Registros duplicados: {duplicated_records}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           984 non-null    int64
 1   Trimestre                     984 non-null    int64
 2   Provincia                     984 non-null    object
 3   Accesos por cada 100 hogares  984 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.9+ KB
Valores faltantes por columna:
Año                             0
Trimestre                       0
Provincia                       0
Accesos por cada 100 hogares    0
dtype: int64
Registros duplicados: 0

In [438]:
# Crear una función para asignar una fecha basada en el año y el trimestre
def generar_fecha(row):
    if row['Trimestre'] == 1:
        return f"{row['Año']}-01-01"
    elif row['Trimestre'] == 2:
        return f"{row['Año']}-04-01"
    elif row['Trimestre'] == 3:
        return f"{row['Año']}-07-01"
    elif row['Trimestre'] == 4:
        return f"{row['Año']}-10-01"

# Asegurarse de estar trabajando con una copia completa del DataFrame
df_accesoHogaresProvincia = df_accesoHogaresProvincia.copy()

# Aplicar la función para crear la nueva columna 'fecha'
df_accesoHogaresProvincia['fecha'] = df_accesoHogaresProvincia.apply(generar_fecha, axis=1)

# Convertir la columna 'fecha' a tipo datetime
df_accesoHogaresProvincia['fecha'] = pd.to_datetime(df_accesoHogaresProvincia['fecha'], format='%Y-%m-%d')

# Verificar el DataFrame con la nueva columna 'fecha'
print(df_accesoHogaresProvincia[['Año', 'Trimestre', 'fecha']].head())

    Año  Trimestre      fecha
0  2024          1 2024-01-01
1  2024          1 2024-01-01
2  2024          1 2024-01-01
3  2024          1 2024-01-01
4  2024          1 2024-01-01

In [439]:
# Eliminar las columnas 'Año' y 'Trimestre' ya que ahora tenemos la columna 'fecha'
df_accesoHogaresProvincia = df_accesoHogaresProvincia.drop(columns=['Año', 'Trimestre'])

# Reubicar la columna 'fecha' como la primera columna del DataFrame
cols = ['fecha'] + [col for col in df_accesoHogaresProvincia.columns if col != 'fecha']
df_accesoHogaresProvincia = df_accesoHogaresProvincia[cols]

In [440]:
# Ordenar el DataFrame por la columna 'fecha'
df_accesoHogaresProvincia = df_accesoHogaresProvincia.sort_values(by=['Provincia', 'fecha'])

# Verificar el DataFrame ordenado
print(df_accesoHogaresProvincia_ordenado.head())

        fecha         Provincia  Accesos por cada 100 hogares
0  2024-01-01      Buenos Aires                         81.10
13 2024-01-01          Misiones                         56.76
1  2024-01-01   Capital Federal                        119.53
23 2024-01-01           Tucumán                         60.48
22 2024-01-01  Tierra Del Fuego                        109.78

In [441]:
# Crear una nueva columna para almacenar el acceso del trimestre anterior
df_accesoHogaresProvincia['Acceso_anterior'] = df_accesoHogaresProvincia.groupby('Provincia')['Accesos por cada 100 hogares'].shift(1)

# Calcular el KPI para cada provincia y trimestre
df_accesoHogaresProvincia['KPI'] = ((df_accesoHogaresProvincia['Accesos por cada 100 hogares'] - df_accesoHogaresProvincia['Acceso_anterior']) / df_accesoHogaresProvincia['Acceso_anterior']) * 100

# Rellenar los valores nulos del KPI del primer trimestre con el valor 2 sin usar inplace
df_accesoHogaresProvincia['KPI'] = df_accesoHogaresProvincia['KPI'].fillna(2)

# Verificar las primeras filas con el KPI calculado
print(df_accesoHogaresProvincia[['fecha', 'Provincia', 'Accesos por cada 100 hogares', 'Acceso_anterior', 'KPI']].head())

         fecha     Provincia  Accesos por cada 100 hogares  Acceso_anterior  \
960 2014-01-01  Buenos Aires                     54.570073              NaN
936 2014-04-01  Buenos Aires                     55.061417        54.570073
912 2014-07-01  Buenos Aires                     56.754739        55.061417
888 2014-10-01  Buenos Aires                     56.094337        56.754739
864 2015-01-01  Buenos Aires                     56.370484        56.094337

          KPI
960  2.000000
936  0.900391
912  3.075334
888 -1.163608
864  0.492292

In [442]:
# Renombrar columnas a minúsculas y sin tildes
df_accesoHogaresProvincia.rename(columns={    
    'Provincia':'provincia',
    'Accesos por cada 100 hogares': 'accesoscada100hogares',
    'Acceso_anterior': 'acceso_anterior',    
    'KPI': 'kpi'
}, inplace=True)

# Verificar el cambio de nombres de columnas
print(df_accesoHogaresProvincia.columns)

Index(['fecha', 'provincia', 'accesoscada100hogares', 'acceso_anterior',
       'kpi'],
      dtype='object')

In [443]:
df_accesoHogaresProvincia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 984 entries, 960 to 23
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fecha                  984 non-null    datetime64[ns]
 1   provincia              984 non-null    object
 2   accesoscada100hogares  984 non-null    float64
 3   acceso_anterior        960 non-null    float64
 4   kpi                    984 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 46.1+ KB

In [389]:
print(df_accesoHogaresProvincia.head())

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2024          1     Buenos Aires                         81.10
1  2024          1  Capital Federal                        119.53
2  2024          1        Catamarca                         68.82
3  2024          1            Chaco                         46.70
4  2024          1           Chubut                         84.89

In [390]:
# Verificar la estructura del DataFrame y los tipos de datos
df_accesoHogaresProvincia.info()

# Verificar si hay valores faltantes
missing_values = df_accesoHogaresProvincia.isnull().sum()
print("Valores faltantes por columna:")
print(missing_values)

# Verificar si hay registros duplicados
duplicated_records = df_accesoHogaresProvincia.duplicated().sum()
print(f"Registros duplicados: {duplicated_records}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           984 non-null    int64
 1   Trimestre                     984 non-null    int64
 2   Provincia                     984 non-null    object
 3   Accesos por cada 100 hogares  984 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.9+ KB
Valores faltantes por columna:
Año                             0
Trimestre                       0
Provincia                       0
Accesos por cada 100 hogares    0
dtype: int64
Registros duplicados: 0

In [391]:
# Convertir la columna 'Año' a tipo datetime, considerando solo el año
df_accesoHogaresProvincia['Año'] = pd.to_datetime(df_accesoHogaresProvincia['Año'], format='%Y')

# Verificar la estructura del DataFrame para confirmar que el tipo de 'Año' cambió
df_accesoHogaresProvincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           984 non-null    datetime64[ns]
 1   Trimestre                     984 non-null    int64
 2   Provincia                     984 non-null    object
 3   Accesos por cada 100 hogares  984 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 30.9+ KB

In [392]:
# Ordenar el DataFrame por provincia, año y trimestre
df_accesoHogaresProvincia = df_accesoHogaresProvincia.sort_values(by=['Provincia', 'Año', 'Trimestre'])

# Crear una nueva columna para almacenar el acceso del trimestre anterior
df_accesoHogaresProvincia['Acceso_anterior'] = df_accesoHogaresProvincia.groupby('Provincia')['Accesos por cada 100 hogares'].shift(1)

# Calcular el KPI para cada provincia y trimestre
df_accesoHogaresProvincia['KPI'] = ((df_accesoHogaresProvincia['Accesos por cada 100 hogares'] - df_accesoHogaresProvincia['Acceso_anterior']) / df_accesoHogaresProvincia['Acceso_anterior']) * 100

# Rellenar los valores nulos del KPI del primer trimestre con el valor 2 sin usar inplace
df_accesoHogaresProvincia['KPI'] = df_accesoHogaresProvincia['KPI'].fillna(2)

# Verificar las primeras filas con el KPI calculado
print(df_accesoHogaresProvincia[['Año', 'Trimestre', 'Provincia', 'Accesos por cada 100 hogares', 'Acceso_anterior', 'KPI']].head())

           Año  Trimestre     Provincia  Accesos por cada 100 hogares  \
960 2014-01-01          1  Buenos Aires                     54.570073
936 2014-01-01          2  Buenos Aires                     55.061417
912 2014-01-01          3  Buenos Aires                     56.754739
888 2014-01-01          4  Buenos Aires                     56.094337
864 2015-01-01          1  Buenos Aires                     56.370484

     Acceso_anterior       KPI
960              NaN  2.000000
936        54.570073  0.900391
912        55.061417  3.075334
888        56.754739 -1.163608
864        56.094337  0.492292

In [393]:
# Verificar la estructura del DataFrame y los tipos de datos
df_accesoHogaresProvincia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 984 entries, 960 to 23
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           984 non-null    datetime64[ns]
 1   Trimestre                     984 non-null    int64
 2   Provincia                     984 non-null    object
 3   Accesos por cada 100 hogares  984 non-null    float64
 4   Acceso_anterior               960 non-null    float64
 5   KPI                           984 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 53.8+ KB

In [366]:
# Renombrar columnas a minúsculas y sin tildes
df_accesoHogaresProvincia.rename(columns={
    'Año': 'ano',  # Cambiar 'Año' a 'ano'
    'Trimestre': 'trimestre',
    'Provincia': 'provincia',
    'Accesos por cada 100 hogares': 'accesoscada100hogares',
    'Acceso_anterior': 'acceso_anterior',    
    'KPI': 'kpi'
}, inplace=True)

# Verificar el cambio de nombres de columnas
print(df_accesoHogaresProvincia.columns)

Index(['ano', 'trimestre', 'provincia', 'accesoscada100hogares',
       'acceso_anterior', 'kpi'],
      dtype='object')

# KPI penetración de fibra óptica por provincia
### Este KPI se implementa para aumentar porcentualmente, de acuerdo a una meta establecida para cada provincia, el acceso al servicio de internet mediante la tecnología de fibra óptica para el próximo trimestre, por provincia. 
La meta se estimo basado en históricos de crecimiento.

In [498]:
# Cargar los DataFrames desde la base de datos
#df_accesofibra = pd.read_sql("SELECT fecha, provincia, accesos FROM accesotecnologiaprovincia WHERE tecnologia='Fibra óptica'", con=engine)

df_accesofibra = pd.read_sql("""
    SELECT 
        fecha, 
        provincia, 
        SUM(CASE WHEN tecnologia = 'Fibra óptica' THEN accesos ELSE 0 END) AS accesos_fibra,
        SUM(accesos) AS total_accesos
    FROM accesotecnologiaprovincia
    GROUP BY fecha, provincia
""", con=engine)

In [499]:
# Ordenar el DataFrame por la columna 'fecha'
df_accesofibra = df_accesofibra.sort_values(by=['provincia', 'fecha'])

In [500]:
# Crear una nueva columna para almacenar el acceso del trimestre anterior
df_accesofibra['acceso_fibraanterior'] = df_accesofibra.groupby('provincia')['accesos_fibra'].shift(1)
df_accesofibra['total_accesoanterior'] = df_accesofibra.groupby('provincia')['total_accesos'].shift(1)

# Calcular el KPI para cada provincia y trimestre
#df_accesofibra['kpi'] = ((df_accesofibra['accesos'] - df_accesofibra['acceso_anterior']) / df_accesofibra['acceso_anterior']) * 100
df_accesofibra['kpi_porcentajefibra'] = (df_accesofibra['accesos_fibra']/df_accesofibra['total_accesos']) - (df_accesofibra['acceso_fibraanterior']/df_accesofibra['total_accesoanterior'])

# Rellenar los valores nulos del KPI del primer trimestre con el valor 2 sin usar inplace
#df_accesoHogaresProvincia['KPI'] = df_accesoHogaresProvincia['KPI'].fillna(2)

# Verificar las primeras filas con el KPI calculado
print(df_accesofibra.head())

          fecha     provincia  accesos_fibra  total_accesos  \
151  2014-01-01  Buenos Aires         120960        2706052
86   2014-04-01  Buenos Aires         120008        2731399
152  2014-07-01  Buenos Aires         124474        2817684
197  2014-10-01  Buenos Aires         120528        2784369
116  2015-01-01  Buenos Aires         134177        2832902

     acceso_fibraanterior  total_accesoanterior  kpi_porcentajefibra
151                   NaN                   NaN                  NaN
86               120960.0             2706052.0            -0.000763
152              120008.0             2731399.0             0.000240
197              124474.0             2817684.0            -0.000889
116              120528.0             2784369.0             0.004076

In [503]:
## Asegurarse de que la columna 'fecha' esté en formato datetime (solo con la fecha)
df_accesofibra['fecha'] = pd.to_datetime(df_accesofibra['fecha'], errors='coerce')

# Convertir la columna 'acceso_anterior' a tipo entero
df_accesofibra['acceso_fibraanterior'] = pd.to_numeric(df_accesofibra['acceso_fibraanterior'], errors='coerce').astype('Int64')
df_accesofibra['total_accesoanterior'] = pd.to_numeric(df_accesofibra['total_accesoanterior'], errors='coerce').astype('Int64')

In [504]:
df_accesofibra.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 151 to 101
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fecha                 200 non-null    datetime64[ns]
 1   provincia             200 non-null    object
 2   accesos_fibra         200 non-null    int64
 3   total_accesos         200 non-null    int64
 4   acceso_fibraanterior  195 non-null    Int64
 5   total_accesoanterior  195 non-null    Int64
 6   kpi_porcentajefibra   195 non-null    float64
dtypes: Int64(2), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 12.9+ KB

# KPI penetración de suscripción por TV por provincia

In [485]:
# Cargar los DataFrames desde la base de datos
df_acceso_suscripcionTV = pd.read_sql("SELECT fecha, provincia, suscripcioncada100hogares FROM tvsuscripcionprovincia_habitantes_hogares", con=engine)

In [486]:
# Ordenar el DataFrame por la columna 'fecha'
df_acceso_suscripcionTV = df_acceso_suscripcionTV.sort_values(by=['provincia', 'fecha'])

In [487]:
# Crear una nueva columna para almacenar el acceso del trimestre anterior
df_acceso_suscripcionTV['acceso_anterior'] = df_acceso_suscripcionTV.groupby('provincia')['suscripcioncada100hogares'].shift(1)

# Calcular el KPI para cada provincia y trimestre
df_acceso_suscripcionTV['kpi'] = ((df_acceso_suscripcionTV['suscripcioncada100hogares'] - df_acceso_suscripcionTV['acceso_anterior']) / df_acceso_suscripcionTV['acceso_anterior']) * 100

# Verificar las primeras filas con el KPI calculado
print(df_acceso_suscripcionTV.head())

          fecha     provincia  suscripcioncada100hogares  acceso_anterior  \
984  2014-01-01  Buenos Aires                  47.068617              NaN
960  2014-04-01  Buenos Aires                  49.348236        47.068617
936  2014-07-01  Buenos Aires                  49.380920        49.348236
912  2014-10-01  Buenos Aires                  49.649640        49.380920
888  2015-01-01  Buenos Aires                  49.290439        49.649640

          kpi
984       NaN
960  4.843181
936  0.066231
912  0.544178
888 -0.723472

In [488]:
# Asegurarse de que la columna 'fecha' esté en formato datetime (solo con la fecha)
df_acceso_suscripcionTV['fecha'] = pd.to_datetime(df_acceso_suscripcionTV['fecha'], errors='coerce')

# Convertir la columna 'acceso_anterior' a tipo float
df_acceso_suscripcionTV['acceso_anterior'] = pd.to_numeric(df_acceso_suscripcionTV['acceso_anterior'], errors='coerce').astype('float')

In [489]:
df_acceso_suscripcionTV.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 984 to 23
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   fecha                      1000 non-null   datetime64[ns]
 1   provincia                  1000 non-null   object
 2   suscripcioncada100hogares  1000 non-null   float64
 3   acceso_anterior            974 non-null    float64
 4   kpi                        974 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 46.9+ KB

# Load

In [169]:
# Detalles de la conexión a la base de datos PostgreSQL
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
ENDPOINT = 'localhost'  # El nombre del host
USER = 'pi2_user'  # Usuario de la base de datos
PASSWORD = '1234'  # Contraseña del usuario
PORT = 5432  # Puerto de PostgreSQL (por defecto es 5432)
DATABASE = 'pi2'  # El nombre de la base de datos

# Crear la URL de conexión a la base de datos
connection_string = f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}"

# Crear el motor de conexión
engine = create_engine(connection_string)

In [444]:
# Cargar el DataFrame "Acceso por cada 100 Hogares por provincia" en la base de datos
df_accesoHogaresProvincia.to_sql('accesohogaresprovincia', con=engine, if_exists='append', index=False)

984

In [253]:
# Cargar el DataFrame "Accesos por Tecnología" en la base de datos
df_accesoTecnologiaProvincia_unpivoted.to_sql('accesotecnologiaprovincia', con=engine, if_exists='append', index=False)

800

In [184]:
# Cargar el DataFrame "Accesos_prov_TV" en la base de datos
df_accesoTVsuscripcionProvincia.to_sql('accesotvsuscripcionprovincia', con=engine, if_exists='append', index=False)

8

In [206]:
# Cargar el DataFrame "accesoTVsuscripcionProvincia_habitantes_hogares" en la base de datos
df_accesoTVsuscripcionProvincia_habitantes_hogares.to_sql('tvsuscripcionprovincia_habitantes_hogares', con=engine, if_exists='append', index=False)

1000

In [240]:
# Cargar el DataFrame "top5_provincia
df_top5.to_sql('top5_provincia', con=engine, if_exists='append', index=False)

5

In [505]:
# Cargar el DataFrame "df_accesofibra"
df_accesofibra.to_sql('kpi_penetracion_fibra', con=engine, if_exists='append', index=False)

200

In [490]:
# Cargar el DataFrame "df_acceso_suscripcionTV"
df_acceso_suscripcionTV.to_sql('kpi_penetracion_suscripciontv', con=engine, if_exists='append', index=False)

1000